<!--
  ~ Copyright © 2019 Yubico inc. All rights reserved.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yubico.yubikit.oath" >
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>
        <activity android:name=".qr.QrActivity">
        </activity>
    </application>
</manifest>
