<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".YubiKitFidoActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.FidoAndroid"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>