<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.HIDE_OVERLAY_WINDOWS" />

    <application>
        <activity
            android:name=".internal.YubiKitFidoActivity"
            android:exported="false"
            android:theme="@style/Theme.FidoAndroid"
            android:screenOrientation="behind"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
    </application>

</manifest>