<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yubico.yubikit.otp" >

    <uses-permission android:name="android.permission.NFC" />
    <application>
        <activity android:name=".OtpActivity"
            android:label="@string/yubikit_otp_activity_title"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:excludeFromRecents="true"/>
    </application>
</manifest>
