<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yubico.yubikit.android">

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />

    <application>
        <activity android:name=".ui.OtpActivity"
            android:label="@string/yubikit_otp_activity_title"
            android:theme="@style/OtpDialogTheme"
            android:excludeFromRecents="true"/>
    </application>
</manifest>