name: Android CI

on: [ push ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build with Gradle
        run: NO_GPG_SIGN=true ./gradlew --stacktrace check test build javadocJar publishToMavenLocal

      - name: Upload jars
        uses: actions/upload-artifact@v4
        with:
          name: maven-repo
          path: ~/.m2/repository/com/yubico/yubikit/
