name: Android CI

on: [ push ]

permissions: read-all

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683             # v4.2.2
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Set up JDK
        uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00           # v4.7.1
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Verify code format
        run: ./gradlew spotlessCheck

      - name: Build with Gradle
        run: NO_GPG_SIGN=true ./gradlew --stacktrace check test build javadocJar publishToMavenLocal

      - name: Upload jars
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4      # v5.0.0
        with:
          name: maven-repo
          path: ~/.m2/repository/com/yubico/yubikit/
