name: "CodeQL"

on:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]
  schedule:
    - cron: '25 16 * * 0'

permissions:
  contents: read

jobs:
  analyze:
    permissions:
      actions: read
      contents: read
      security-events: write

    name: Analyze
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        language: [ 'java' ]

    steps:
    - name: Checkout repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8                    # v6.0.1

    # Initializes the CodeQL tools for scanning.
    - name: Initialize CodeQL
      uses: github/codeql-action/init@fe4161a26a8629af62121b670040955b330f9af2           # v4.31.6
      with:
        languages: ${{ matrix.language }}

    - name: Setup Java
      uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e                  # v5.1.0
      with:
        distribution: 'temurin'
        java-version: '17'

    - name: Autobuild
      uses: github/codeql-action/autobuild@fe4161a26a8629af62121b670040955b330f9af2      # v4.31.6

    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@fe4161a26a8629af62121b670040955b330f9af2        # v4.31.6
