name: "SpotBugs"

on:
  push:
    branches: [ main ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main ]
  schedule:
    - cron: "25 16 * * 0"

permissions: read-all

jobs:
  analyze:
    name: SpotBugs Analyze

    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read

    strategy:
      fail-fast: false
      matrix:
        language: [ "java" ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Java
        uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Build with Gradle
        run: ./gradlew spotbugsRelease spotbugsMain

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: sarif-files
          path: ./build/spotbugs/*.sarif
          retention-days: 1

  upload:
    name: Upload SARIF
    needs: analyze
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      security-events: write

    strategy:
      fail-fast: false
      matrix:
        module:
          [
            "android",
            "AndroidDemo",
            "core",
            "desktop",
            "DesktopDemo",
            "fido",
            "management",
            "oath",
            "openpgp",
            "piv",
            "support",
            "testing",
            "yubiotp",
          ]

    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: sarif-files

      - run: |
          MODULE=${{ matrix.module }}
          BASE_NAME=spotbugs-${MODULE}
          INPUT=${BASE_NAME}.sarif
          OUTPUT=${BASE_NAME}.json
          jq '.runs |= map( if .taxonomies == [null] then .taxonomies = [] else . end)' < ${INPUT} |
          jq ".runs[].results[].locations[].physicalLocation.artifactLocation.uri |= \"${MODULE}/src/main/java/\" + ." |
          jq ".runs[].results[].locations[].physicalLocation.artifactLocation.uriBaseId |= \"%SRC_ROOT%\" " |
          jq '.runs[].tool.driver.rules |= map( . += { fullDescription: { text: .shortDescription.text } } )' |
          jq '.runs[].tool.driver.rules |= map( . += { name: ("SpotBugs_" + .id | ascii_downcase | sub("(^|_)(?<x>[a-z])";"\(.x|ascii_upcase)";"g")) } )' |
          jq '.runs[].tool.driver.rules |= map( . += { help: { text: .helpUri } } )' |
          jq '.runs[].invocations |= map( . += { executionSuccessful: true } )' |
          jq 'del(.runs[].originalUriBaseIds)' |
          jq -c '.' > ${OUTPUT}

      - name: Upload SARIF for ${{ matrix.module }}
        uses: github/codeql-action/upload-sarif@1b168cd39490f61582a9beae412bb7057a6b2c4e # v4.31.8
        with:
          sarif_file: spotbugs-${{ matrix.module }}.json
          category: spotbugs-analysis-${{ matrix.module }}
